.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.menu-section {
  display: flex;
  align-items: center;
}

.auth-section {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.content {
  flex: auto;
  justify-items: center;
  width: 100%;
  padding: 2rem 0;
}

.content-inner {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
